@import './reset.scss';
@import './animation.scss';

[class*='__container'] {
	max-width: 1150px;
	margin-inline: auto;
	padding: 0 15px;
}

.center {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.button {
	font-weight: 700;
	font-size: 8px;
	text-transform: uppercase;
	color: #4c3db2;
	padding: 18px 66px;
	border: 1px solid #4c3db2;
	transition: all 0.3s ease;

	&:hover {
		color: white;
		background-color: #4c3db2;
	}
} 